* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background: #616161;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 24px;
}

span {
  color: #D1A954;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0 3% 13%;
}
#header .header--hamburger-menu {
  display: none;
}
#header .header #menu__toggle {
  opacity: 0;
}
#header .header .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
#header .header .menu__btn > span,
#header .header .menu__btn > span::before,
#header .header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
#header .header .menu__btn > span::before {
  content: "";
  top: -8px;
}
#header .header .menu__btn > span::after {
  content: "";
  top: 8px;
}
#header .header .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #444444;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
#header .header .menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
#header .header ion-icon {
  color: white;
  font-size: 30px;
}
#header .header .menu__item:hover {
  background-color: #CFD8DC;
}
#header .header #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#header .header #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#header .header #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#header .header #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
#header .header .menu__btn > span,
#header .header .menu__btn > span::before,
#header .header .menu__btn > span::after {
  transition-duration: 0.25s;
}
#header .header .menu__box {
  transition-duration: 0.25s;
}
#header .header .menu__item {
  transition-duration: 0.25s;
}

#hero {
  display: flex;
  justify-content: center;
  color: white;
  background: url("../img/fon1.png");
  min-height: 90vh;
}
#hero .hero {
  padding: 15%;
  display: flex;
  justify-content: space-between;
  /*big teatr start*/
}
#hero .hero h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 30px;
  font-weight: 700;
}
#hero .hero p {
  font-size: 14px;
  line-height: 155%;
  padding-bottom: 30px;
  width: 76%;
}
#hero .hero button {
  font-size: 18px;
  padding: 10px 40px;
  color: white;
  background: #D1A954;
  border: none;
}
#hero .hero--gray {
  background: #333333;
  position: absolute;
  width: 150px;
  height: 105%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}
#hero .hero--gray__gray-info {
  display: flex;
  flex-direction: column;
}
#hero .hero--gray__gray-info h2 {
  top: 25%;
  left: -14%;
  transform: rotate(-90deg);
  font-size: 14px;
  position: absolute;
}
#hero .hero--gray__gray-info hr {
  position: absolute;
  height: 110px;
  top: 45%;
  left: 44%;
}
#hero .hero--gray__gray-info ion-icon {
  padding-left: 52px;
  font-size: 40px;
  padding-bottom: 30px;
}
#hero .hero--gray__gray-info ion-icon:hover {
  color: #D1A954;
}
#hero .hero--book {
  width: 270px;
  margin-top: -11%;
  height: 270px;
  position: relative;
  left: 20px;
}
#hero .hero--book__book-slider--btn {
  display: flex;
  justify-content: space-between;
  padding: -1px 20px;
  font-size: 15px;
}
#hero .hero--book button {
  background: none;
}
#hero .hero--book__text {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
#hero .hero--book img {
  width: 270px;
}

#about {
  padding: 10% 0;
}
#about h1 {
  font-weight: 300;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  align-self: baseline;
}
#about .about {
  width: 104%;
  color: white;
  padding: 10% 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#about .about--second__icon {
  width: 58px;
}
#about .about--teatr-image {
  width: 300px;
}
#about .about h2 {
  padding: 8px 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 24px;
}
#about .about--first__best {
  margin-bottom: 6px;
}
#about .about--first p {
  font-size: 14px;
  line-height: 150%;
}

#our h1 {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}
#our .our {
  width: 105.5%;
}
#our .our .swiper {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: white;
  position: relative;
}
#our .our .swiper h2 {
  position: absolute;
  top: 5%;
  font-size: 25px;
  z-index: 10;
  transition: all 0.8s ease;
}
#our .our .swiper .column#caption {
  position: relative;
}
#our .our .swiper .column#caption .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}
#our .our .swiper .column#caption .text h1 {
  margin: 0;
  color: white;
}
#our .our .swiper .column#caption:hover .text {
  opacity: 1;
}
#our .our .swiper .column#caption:hover img {
  -webkit-filter: sepia(90%);
}
#our .our .swiper h1 {
  position: absolute;
  top: 70%;
  left: -22%;
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
}
#our .our .swiper ion-icon {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  background: #D1A954;
}
#our .our .swiper ion-icon:hover {
  transform: rotate(360deg);
  background: #444444;
  transition: 1.2s;
}
#our .our .swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#our .our .swiper-slide img {
  display: block;
  width: 116%;
  height: 100%;
  object-fit: cover;
}

#grade {
  display: flex;
  justify-content: space-between;
  background: url("../img/fon2.png") center no-repeat;
  min-height: 100vh;
  background-size: 70%;
}
#grade .grade {
  padding: 18% 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
#grade .grade ion-icon {
  font-size: 35px;
  color: #F1B864;
  border: none;
  margin: 0 9px;
}
#grade .grade h1 {
  font-size: 37px;
  color: white;
}
#grade .grade span {
  color: #F1B864;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#gazprom {
  padding: 5% 0;
  display: flex;
  justify-content: center;
}
#gazprom h1 {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}
#gazprom .gazprom {
  display: flex;
  justify-content: space-between;
  padding: 5% 4%;
  display: flex;
  justify-content: space-around;
}
#gazprom .gazprom--fire-svg {
  margin-left: -20px;
  margin-top: -65px;
}
#gazprom .gazprom h1 {
  color: #444444;
  font-size: 37px;
  font-weight: 800;
  letter-spacing: 0;
  margin: 0 18px;
}

#contact h1 {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}
#contact .contact {
  display: flex;
  justify-content: space-between;
  padding: 4% 11%;
}
#contact .contact--info {
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
#contact .contact--info__h3 {
  margin-left: 27px;
  margin-bottom: 25px;
}
#contact .contact--info__number {
  margin-bottom: 25px;
}
#contact .contact--info2__info3 {
  display: flex;
  justify-content: space-between;
  color: white;
}
#contact .contact--info2__info3 p {
  font-size: 15px;
}
#contact .contact--info2__info3 button {
  background: #D1A954;
  padding: 15px 49px;
  color: white;
  border: none;
}
#contact .contact--info2__in {
  display: flex;
  justify-content: space-around;
  margin-bottom: 13px;
}
#contact .contact--info2__in--write {
  display: flex;
  flex-direction: column;
}
#contact .contact--info2__in--write input {
  margin: 7px 20px;
  background: #444444;
  border: 1px solid #616161;
  padding: 15px 30px;
}
#contact .contact--info2__in--write textarea {
  padding: 43px 41px;
  background: #444444;
  margin: 0 -8px;
}

#footer .footer {
  color: #FFFFFF;
}
#footer .footer hr {
  margin-left: 100px;
}
#footer .footer--text {
  padding: 30px 0;
  margin: 0 95px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
